/* GLOBAL */
body{
    margin:0;
    background:#0d0d0d;
    font-family:Arial, sans-serif;
    color:white;
}

/* MAIN WRAPPER */
.wrapper{
    max-width:1300px;
    margin:40px auto;
    padding:20px;
}

/* BOX GRID */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    gap:28px;
}

/* BOX */
.box{
    background:#111;
    border:1px solid #222;
    padding:22px;
    border-radius:18px;
    transition:0.25s ease;
}

/* BOX HOVER SHADOW */
.box:hover{
    box-shadow:0 0 25px rgba(0,255,255,0.25);
    transform:translateY(-5px);
}

/* TITLE */
.box h2{
    text-align:center;
    margin-bottom:12px;
    font-size:22px;
}

/* IMAGE */
.box img{
    width:100%;
    border-radius:14px;
    margin-bottom:18px;
}

/* TEXT */
.desc{
    font-size:16px;
    line-height:1.5;
    text-align:center;
    margin-bottom:22px;
}

/* BUTTON — TVOJA BOJA */
.btn{
    display:block;
    margin:8px auto 0;
    padding:12px 0;
    width:82%;
    background:#3af2ff;
    color:#001;
    text-align:center;
    border-radius:10px;
    text-decoration:none;
    font-weight:800;
    transition:0.25s;
}

/* BUTTON HOVER */
.btn:hover{
    background:#7ff7ff;
    transform:translateY(-3px);
}

